{% extends 'adm/site_base.html' %}
{% load bootstrap3 %}

{% block content-title %}Entries{% endblock %}
{% block content-subtitle %}List{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-md-12">
            <table class="table table-bordered table-hover dataTable">
                <tr>
                    <th>Title</th>
                    <th>Author</th>
                    <th>Status</th>
                </tr>
                {% for e in entry_list %}
                <tr>
                    <td>
                        <a href="{% url 'adm:entry-edit' pk=e.pk %}">
                            {{e.title}}
                        </a>
                    </td>
                    <td>{{e.author}}</td>
                    <td>{% include 'core/entry_status.html' with entry=e %}</td>
                </tr>
                {% endfor %}
            </table>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6 col-md-offset-6">
            <div class="pagination-content pull-right">
                {% bootstrap_pagination page_obj %}
            </div>
        </div>
    </div>
{% endblock %}

{% block extra-scripts %}
<script>
$(document).ready(function() {

    function get_links_div(obj) {
        return $(obj).children('td:eq(0)').children('div.links')
    }
    $('tr:gt(0)').hover(
        function() { get_links_div(this).show()},
        function() { get_links_div(this).hide()})
})
</script>
{% endblock %}