{% extends 'adm/site_base.html' %}
{% load bootstrap3 %}

{% block content-title %}Page{% endblock %}
{% block content-subtitle %}New{% endblock %}

{% block content %}
    <form action="" method="post" class="form">
        {% csrf_token %}
        {% bootstrap_form form %}
        {% buttons %}
            <button type="submit" class="btn btn-primary">
                {% bootstrap_icon "star" %} Submit
            </button>
        {% endbuttons %}
    </form>
{% endblock %}

{% block extra-scripts %}
<script>
$('textarea').wysihtml5();
</script>
{% endblock %}